h1 {
    font-weight: 900;
    font-size: 40px;
    margin: 10px;
    margin-bottom: 25px;
}

input {
    width: 100%;

}

.item-container{
    text-align: left;
}

.ak-row{
    margin: 10px 5px;
}

.ak-button{
    min-width: 80px;

}